*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif
}

body, main { 
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; /* Centered children horizontally */
    justify-content: space-around;
}


h1 {
    display: flex;
    justify-content: center;
}

.button{
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5% 5% 5% 5%;
    border: none;
    border-radius: 4px;
}

#puzzle1{
    background-color: #90EE90;
}

#puzzle2{
    background-color: #FFA07A;
}

#puzzle3{
    background-color: #FF6347;
}

#leave {
    background-color: #4682B4;
}


#buttons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-size: 16px;
    gap: 2px;
}

#start {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5% 5% 5% 5%;
    border: none;
    border-radius: 4px;
    background-color: #D8BFD8;
}

#reset {
    display: none;
    list-style-type: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5% 5% 5% 5%;
    border: none;
    border-radius: 4px;
    background-color: #D8BFD8;
}

@media (max-width: 767px) and (orientation: portrait) { /*Orientation property: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/orientation*/
    
#containers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
    aspect-ratio: 1 / 1; 
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(50% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(50% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative; 
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%; 
}


#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 116%;
    height: 115%;
}

#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
}

#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -13%;
}

#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
}

#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
}


#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -13%;
}

#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 9%;
}

#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 8%;
    left: -3%;
}

#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -13%;
    bottom: 9%;
}

}

@media (max-width: 767px) and (orientation: landscape){
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
    aspect-ratio: 1 / 1; 
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(70% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(70% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative; 
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%; 
}

#img1{
    position: relative;
    width: 117%;
    height: 103%; 
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 116%;
    height: 115%;
}

#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
}

#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -13%;
}

#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
}

#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
}


#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -13%;
}

#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 9%;
}

#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 8%;
    left: -3%;
}

#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -13%;
    bottom: 9%;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; /* Considering the gap in total height calculation */
    aspect-ratio: 1 / 1; /* Maintain ratio */
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(50% - 1vh); /* Adjusting for the gap, ensuring both fit within #containers without overflow */
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(50% - 1vh); /* Adjusting for the gap, ensuring both fit within #containers without overflow */
    border: 1px solid black;
    position: relative; /*there is a reason for this when drag and dropping element*/
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%; /* Increased height to overlap */
}

#img1{
    position: relative;
    width: 117%;
    height: 103%; /* Increased height to overlap */
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 116%;
    height: 115%;
}

#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
}

#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -13%;
}

#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
}

#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
}


#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -13%;
}

#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 9%;
}

#image7{
    position: relative;
    width: 110%;
    height: 108%;
    bottom: 7%;
    left: -3%;
}

#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -13%;
    bottom: 9%;
}

}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh;
    aspect-ratio: 1 / 1;
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(80% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(80% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative; 
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%;
}

#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}


#image0 {
    position: relative;
    width: 116%;
    height: 115%;
}

#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
}

#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -13%;
}

#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
}

#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
}


#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -13%;
}

#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 9%;
}

#image7{
    position: relative;
    width: 110%;
    height: 108%;
    bottom: 7%;
    left: -1%;
}

#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -13%;
    bottom: 9%;
}

}

@media only screen and (min-width: 1024px) and (orientation: portrait){
    #containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
    aspect-ratio: 1 / 1; 
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(70% - 1vh);
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(70% - 1vh);
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%;
}

#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 116%;
    height: 115%;
}

#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
}

#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -13%;
}

#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
}

#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
}


#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -13%;
}

#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 9%;
}

#image7{
    position: relative;
    width: 110%;
    height: 108%;
    bottom: 7%;
    left: -1%;
}

#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -13%;
    bottom: 9%;
}

}

@media only screen and (min-width: 1024px) and (orientation: landscape){
    #containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
    aspect-ratio: 1 / 1;
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%;
}

#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 130%;
    height: 130%;
}

#image1 {
    position: relative;
    width: 120%;
    height: 117%;
    left: 9%;
}

#image2{
    position: relative;
    width: 130%;
    height: 110%;
    left: -8%;
}

#image3{
    position: relative;
    width: 120%;
    height: 115%;
    bottom: 10%;
}

#image4{
    position: relative;
    width: 105%;
    height: 115%;
    bottom: 10%;
    left: 1%;
}


#image5{
    position: relative;
    width: 115%;
    height: 116%;
    bottom: 9%;
    left: -12%;
}

#image6{
    position: relative;
    width: 130%;
    height: 119%;
    bottom: 18%;
}

#image7{
    position: relative;
    width: 150%;
    height: 115%;
    bottom: 14%;
    left: 1%;
}

#image8{
    position: relative;
    width: 120%;
    height: 119%;
    left: -14%;
    bottom: 18%;
}

}

@media only screen and (min-width: 1200px){
    #containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
    aspect-ratio: 1 / 1;
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: calc(80% - 1vh);
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%;
}

#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 120%;
    height: 120%;
}

#image1 {
    position: relative;
    width: 110%;
    height: 115%;
    left: 1%;
}

#image2{
    position: relative;
    width: 110%;
    height: 115%;
    left: -8%;
}

#image3{
    position: relative;
    width: 120%;
    height: 110%;
    bottom: 2%;
}

#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2%;
    left: 1%;
}


#image5{
    position: relative;
    width: 110%;
    height: 108%;
    bottom: 1%;
    left: -7%;
}

#image6{
    position: relative;
    width: 120%;
    height: 110%;
    bottom: 9%;
}

#image7{
    position: relative;
    width: 110%;
    height: 108%;
    bottom: 7%;
    left: 1%;
}

#image8{
    position: relative;
    width: 110%;
    height: 112%;
    left: -7%;
    bottom: 11%;
}

}

@media only screen and (min-width: 1400px){
    #containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
    aspect-ratio: 1 / 1;
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative; 
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33%;
    height: 33%;
}

#img0{
    position: relative;
    width: 100%;
    height: 120%; 
}

#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
}

#img2{
    position: relative;
    width: 116.5%;
    height: 100%
}

#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
}

#image0 {
    position: relative;
    width: 130%;
    height: 130%;
}

#image1 {
    position: relative;
    width: 120%;
    height: 117%;
    left: 3%;
}

#image2{
    position: relative;
    width: 130%;
    height: 110%;
    left: -16%;
}

#image3{
    position: relative;
    width: 120%;
    height: 115%;
    bottom: 10%;
}

#image4{
    position: relative;
    width: 105%;
    height: 115%;
    bottom: 10%;
    left: 1%;
}


#image5{
    position: relative;
    width: 115%;
    height: 116%;
    bottom: 9%;
    left: -12%;
}

#image6{
    position: relative;
    width: 130%;
    height: 119%;
    bottom: 18%;
}

#image7{
    position: relative;
    width: 150%;
    height: 115%;
    bottom: 14%;
    left: 1%;
}

#image8{
    position: relative;
    width: 115%;
    height: 119%;
    left: -12%;
    bottom: 18%;
}

}