*{ 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif
}

body, main { 
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center; /* Centered children horizontally */
    justify-content: space-around;
    background-color: silver;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    margin-bottom: 2%;
    color: #333;
}

.button{
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5% 5% 5% 5%;
    border: none;
    border-radius: 4px;
}

#puzzle1{
    background-color: #90EE90;
}

#puzzle2{
    background-color: #FFA07A;
}

#puzzle3{
    background-color: #FF6347;
}

#leave {
    background-color: #4682B4;
}

#buttons {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 2px;
}

#start {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 5% 5% 5% 5%;
    border: none;
    border-radius: 4px;
    background-color: #D8BFD8;
}

#reset {
    display: none;
    list-style-type: none;
    padding: 10px 20px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 5% 5% 5% 5%;
    border: none;
    border-radius: 4px;
    background-color: #D8BFD8;
}

.button:hover, .button:focus {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
}

button:hover, button:focus {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
} 

@media (max-width: 767px) and (orientation: portrait) { /*Orientation property: https://developer.mozilla.org/en-US/docs/Web/CSS/@media/orientation*/
    
#containers{ /*All puzzles*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
}

#piece-container{ /*All puzzles*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(50% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative;
}

#puzzle-container{ /*All puzzles*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(50% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative; 
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%; 
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 125%;
    height: 112%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -5%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 107%;
    height: 125%;
    left: -7%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}

}

@media (max-width: 767px) and (orientation: landscape){
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(70% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(70% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative; 
    margin-top: 5%;
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%; 
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%; 
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 125%;
    height: 112%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -5%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 107%;
    height: 125%;
    left: -7%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}


}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; /* Considering the gap in total height calculation */
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(50% - 1vh); /* Adjusting for the gap, ensuring both fit within #containers without overflow */
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(50% - 1vh); /* Adjusting for the gap, ensuring both fit within #containers without overflow */
    border: 1px solid black;
    position: relative; /*there is a reason for this when drag and dropping element*/
    margin-top: 5%;
}

.piece{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%; /* Increased height to overlap */
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%; /* Increased height to overlap */
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}
/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 125%;
    height: 112%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -5%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 107%;
    height: 125%;
    left: -7%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}


}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh;
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(80% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%; /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    height: calc(80% - 1vh); /*For all media queries, I toogled width and height each time until i was visually satisfied*/
    border: 1px solid black;
    position: relative; 
    margin-top: 5%;
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 125%;
    height: 112%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -5%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 117%;
    height: 130%;
    left: -4%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}
}

@media only screen and (min-width: 1024px) and (orientation: portrait){
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 

}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(70% - 1vh);
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(70% - 1vh);
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 125%;
    height: 112%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -5%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 111%;
    height: 125%;
    left: -11%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}
}

@media only screen and (min-width: 1024px) and (orientation: landscape){
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 110%;
    height: 115%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 125%;
    height: 115%;
    left: -21%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 140%;
    height: 110%;
    z-index: 2;
    bottom: 10%;
    left: -4%;
}
#images6{
    position: relative;
    width: 140%;
    height: 140%;
    left: -22%;
    bottom: 20%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
    bottom: 4%;
    left: -5%;
}
#images8{
    position: relative;
    width: 130%;
    height: 120%;
    bottom: 1%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 140%;
    height: 125%;
    bottom: 22%;
    left: -4%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 105%;
    bottom: 2%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 125%;
    height: 130%;
    bottom: 14%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 115%;
    height: 103%;
    bottom: 3%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 135%;
    height: 120%;
    bottom: 20%;
    left: -17%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 120%;
    z-index: 2;
    bottom: 20%;
}
#images15{
    position: relative;
    width: 115%;
    height: 100%;
    z-index: 2;
}

}

@media only screen and (min-width: 1200px){
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 

}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: calc(80% - 1vh);
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 125%;
    height: 112%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -5%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 110%;
    height: 125%;
    left: -10%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 103%;
    z-index: 2;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}

}

@media only screen and (min-width: 1400px){
#containers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    height: 80vh;
    border-radius: 20px;
    gap: 2vh; 
}

#piece-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative;
    margin-top: 5%;
}

#puzzle-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35%;
    height: calc(80% - 1vh); 
    border: 1px solid black;
    position: relative; 
    margin-top: 5%;
}

.piece{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.piece2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.piece3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

.drop-zone{ /*Puzzle 1*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
}

.drop-zone2{ /*Puzzle 2*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 33.33%;
    height: 33.33%;
}

.drop-zone3{ /*Puzzle 3*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 25%;
    height: 25%;
}

/*Puzzle 1*/
#img0{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
}
#img1{
    position: relative;
    width: 117%;
    height: 103%;
    left: -17%;
    z-index: 2;
}
#img2{
    position: relative;
    width: 116.5%;
    height: 100%;
    z-index: 2;
}
#img3{
    position: relative;
    top: -16%;
    width: 101%;
    height: 116%;
    left: -1%;
    z-index: 2;
}

/*Puzzle 2*/
#image0 {
    position: relative;
    width: 116%;
    height: 115%;
    z-index: 2;
}
#image1 {
    position: relative;
    width: 116%;
    height: 115%;
    left: -4%;
    z-index: 2;
}
#image2{
    position: relative;
    width: 116%;
    height: 115%;
    left: -16%;
    z-index: 2;
}
#image3{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    z-index: 2;
}
#image4{
    position: relative;
    width: 110%;
    height: 110%;
    bottom: 2.4%;
    left: -4%;
    z-index: 2;
}
#image5{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 2%;
    left: -16%;
    z-index: 2;
}
#image6{
    position: relative;
    width: 116%;
    height: 110%;
    bottom: 10%;
    z-index: 2;
}
#image7{
    position: relative;
    width: 110%;
    height: 109%;
    bottom: 9%;
    left: -3%;
    z-index: 2;
}
#image8{
    position: relative;
    width: 116%;
    height: 110%;
    left: -16%;
    bottom: 10%;
    z-index: 2;
}

/*Puzzle 3*/
#images0{
    position: relative;
    width: 105%;
    height: 109%;
    z-index: 2;
}
#images1{
    position: relative;
    width: 118%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images2{
    position: relative;
    width: 129%;
    height: 110%;
    left: -15%;
    z-index: 2;
}
#images3{
    position: relative;
    width: 104%;
    height: 125%;
    left: -4%;
    z-index: 2;
}
#images4{
    position: relative;
    width: 121%;
    height: 137%;
    z-index: 2;
    bottom: 12%;
}
#images5{
    position: relative;
    width: 100%;
    height: 120%;
    z-index: 2;
    bottom: 11%;
    left: 1%;
}
#images6{
    position: relative;
    width: 135%;
    height: 137%;
    left: -21%;
    bottom: 11%;
    z-index: 2;
}
#images7{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: -6%;
    left: -5%;
}
#images8{
    position: relative;
    width: 127%;
    height: 115%;
    bottom: -7%;
    z-index: 2;
}
#images9{
    position: relative;
    width: 115%;
    height: 110%;
    bottom: 9%;
    left: 1.5%;
    z-index: 2;
}
#images10{
    position: relative;
    width: 119%;
    height: 96%;
    left: -3%;
    bottom: -6%;
    z-index: 2;
}
#images11{
    position: relative;
    width: 108%;
    height: 125%;
    left: -2%;
    bottom: 10%;
    z-index: 2;
}
#images12{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    bottom: 0.5%;
}
#images13{
    position: relative;
    width: 130%;
    height: 118%;
    bottom: 18%;
    left: -15%;
    z-index: 2;
}
#images14{
    position: relative;
    width: 120%;
    height: 118%;
    z-index: 2;
    bottom: 18%;
    left: -5%;
}
#images15{
    position: relative;
    width: 105%;
    height: 100%;
    z-index: 2;
    left: -5%;
}

}